/* Callout */

.callout-container {
   background: url(../images/Whiskey-background.jpg) no-repeat fixed bottom right;
   background-size: cover;
   height: 100vh;
   background-color: rgba(1,1,1,0.5);
   position: relative;
   padding: 0;
}

.callout-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color:transparent;
    height: 100%;
    width: 100%;
}

.callout-header {
    color: #e1d7ce;
}

.orange-break {
    border: none;
    height: 3px;
    width: 25%;
    background-color: #b8975b;
    margin-bottom: 5%;
    margin-top: 5%;
}

.callout .lead {
    color: #e1d7ce;
}

.callout .text-muted {
    padding-top: 10px;
}

.text-muted small {
    color: #e1d7ce;
    font-style: italic;
    font-weight: 600;
}

/* Nav alert*/

.alert-box {
    position: relative;
    z-index: 1;
    padding: 0;
}

.alert-warning {
    margin-bottom: 0;
    border-radius: 0;
    padding: 3px 1rem 3px 1rem;
    color: #6c5208;
    background-color: #eacc44;
    border-color: #eacc44;
}

.navalert-container {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(137, 95, 22, 0.25);
    z-index: 1;
}

.navbar .navbar-toggler {
    border: none;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: bold;
}

/* Quotes */

.section-header {
    text-align: center;
    margin-top: 75px;
}

.quotes-section {

}

.space-break {
    width: 6vw;
    margin-bottom: 30px;
    height: 3px;
}

/* Fautures */

.features-section {

}

.feature {
    text-align: center;
}

.feature i {
    font-size: 43px;
    padding-bottom: 10px;
}

/* Favourites */

.favourites-section {

}

/* General */

.container-main {
    padding: 0;
}

.container-wrapper {
    padding: 0 0 75px 0;
    margin: 0;
}

.orange-wrap {
    background-color:#db7119;
    color: #ffffff;
}

.dark-break {
    background-color: #444;
}

.light-break {
    background-color: #ffffff;
}

/* Buttons */

.btn-cta {
    font-weight: bold;
    border-radius: 25px;
    border-color: #ffffff;
}

.btn-orange {
    background-color: #db7119;
    color:#ffffff;
}

.btn-orange:hover, 
.btn-orange:active, 
.btn-orange:focus, 
.btn-orange:active:focus {
    background-color: #ffffff;
    color: #db7119;
    border-color: #db7119;
    box-shadow: 0 0 0 0;
}

.feature .btn {
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #db7119;
}